* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
:root {
  --primary-color: #f4f4f4;
  --secondary-color: #150474e8;
  --error-color: #000;
  --highlight-color: rgb(216, 13, 13);
}

#root {
  width: 100%;
  background-image: url(./assets/union-jack-1027893_1280.jpg);
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.wrapper {
  background-color: var(--secondary-color);
  min-height: 40vh;
  width: 100%;
  max-width: 1080px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  border-radius: 20px;

  h1,
  h2 {
    font-size: 2.5rem;
    color: var(--primary-color);
    text-align: center;
    margin: 1em 0;
  }

  .disclaimer {
    text-align: center;
    color: var(--primary-color);

    a {
      color: #a7a7a7;
    }
  }

  .meaning-header {
    background-color: var(--highlight-color);
    width: fit-content;

    padding: 0.3em;
    border-radius: 20px;
    font-size: 2rem;
  }

  h3,
  h4 {
    color: var(--secondary-color);
    margin: 1em 0;
  }

  h3 {
    color: red;
    font-size: 2rem;
    -webkit-text-stroke: 2px rgba(0, 0, 0, 0.295);
  }

  .error {
    text-align: center;
    margin-top: 1em;
    background-color: rgba(245, 94, 94, 0.521);
    border-radius: 10px;
    color: var(--error-color);
    font-size: 1.7rem;

    span {
      color: gold;
    }
  }
  .input-button-wrapper {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    input {
      width: 80%;
      max-width: 400px;
      font-size: 1rem;
      padding: 0.5rem 0.3rem;
      margin-bottom: 1.5rem;
    }

    input:focus {
      outline: 1px solid var(--highlight-color);
      box-shadow: 0 0 50px var(--highlight-color);
    }

    button {
      width: 150px;
      padding: 1rem;
      font-size: 1.2rem;
      color: white;
      background-color: var(--highlight-color);
      border-radius: 99vh;
      border: none;
      outline: none;
      transition: 0.5s;
      &:hover {
        background-color: rgb(51, 189, 8);
        box-shadow: 0 0 10px var(--primary-color);
      }
    }
  }

  .word {
    font-size: 2.3rem;
    font-weight: bold;
    font-style: italic;
    margin: 1em 0;
  }

  audio {
    width: 100%;
    max-width: 350px;
  }

  .definition {
    border-bottom: 1px solid var(--primary-color);
    padding: 1em 0.5em;
    margin-bottom: 1em;
    background-color: #fff;
  }

  a {
    font-size: 1rem;
    margin: 0 auto;
    text-decoration: none;
    margin: 1rem auto;
    transition: 0.3s;
    &:hover {
      scale: 1.2;
    }
  }
}
